html
    head
        style.
            @font-face {
                font-family: 'Muli';
                font-style: normal;
                font-weight: 400;
                src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v11/7Auwp_0qiz-afT3GLRrX.woff2) format('woff2');
                unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
            }
            body {
                font-family: "Muli", Tahoma, Sans-Serif;
            }
            html, body {
                width: 100%;
                margin: 0;
                text-align: center;
            }
            table {
                margin: auto;
                margin-top: 20px;
            }
            td .hero {
                text-align: center;
            }
            /* Shrink Wrap Layout Pattern CSS */
            @media only screen and (max-width: 599px) {
                td[class="pattern"] td {
                    width: 100%;
                }
            }
            .icon {
                display: inline-block;
                width: 13em;
                height: 5em;
                stroke-width: 0;
                stroke: currentColor;
                fill: blue;
            }
    body
        svg(aria-hidden='true', style='display: none')
            symbol#icon-flag(viewBox='0 0 64 64')
                title flag
                path(d='M18 19v-13l28 12-26 11.143v28.857h-2v-39zM20 9v18l21-9-21-9z')
        table(cellpadding='0', cellspacing='0')
            tbody
                tr
                    td.pattern(width='600')
                        table(cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td.hero
                                        svg.icon.icon-flag
                                            use(xlink:href='#icon-flag')
                                tr
                                    td(align='left', style='font-family: arial,sans-serif; color: #333;')
                                        h1
                                            | Réinitialisation de mot de passe
                                tr
                                    td(align='left', style='font-family: arial,sans-serif; font-size: 14px; line-height: 20px !important; color: #666; padding-bottom: 20px;')
                                        | Vous avez demandé de réinitialiser votre mot de passe, veuillez suivre ce lien pour le réinitialiser.
                                        a(href='#{link}') #{link}
                                        |                         Veuillez nous contacter pour toute demande ou question.
                                tr
                                    td(align='center')
                                        | keedo #{year} ©
