//- layout.pug
html
    head
        title My Site - #{title}
        block scripts
            link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css')
            script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js')
            script(src='https://code.jquery.com/jquery-3.4.1.slim.js' integrity='sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=' crossorigin='anonymous')
            script(type='text/javascript' src='/assets/javascripts/api/0.js')
            script(type='text/javascript' src='/assets/javascripts/app.js')
    body
        block content
        block footer
            #footer
