//- page-a.pug
extends ../layouts/base

block content
    style.
        .background {
            background-image: url('https://images.unsplash.com/photo-1531913764164-f85c52e6e654?ixlib=rb-1.2.1&auto=format&fit=crop&w=1866&q=80');
        }
    section.hero.is-fullheight.background
        .hero-body
            .container
                .columns.is-centered
                    .column.is-5-tablet.is-4-desktop.is-3-widescreen
                        h2 #{__('forgotPassword.title')}
                        form.has-text-centered.box(action='/accounts/forgot-password', method="post")
                            .field
                                label.has-text-left.label(for='') Email
                                .control
                                    input.input(type='email' placeholder='e.g. bobsmith@gmail.com' required='' name='email')
                                    span.icon.is-small.is-left
                                        i.fa.fa-envelope
                            .field
                                button.button.is-success(type='submit', onclick="App.Account.ForgotPassword.submit()")
                                    |  #{__('forgotPassword.sendMail')}
                                // errors
                            .has-text-danger.has-text-centered#error
                            // javascript expression using `v-bind`
                        .has-text-centered
                            a.has-text-black(href="/accounts/login") #{__('login.register')}
