//- page-a.pug
extends ../layouts/base

block content

    section.hero.is-fullheight.background
        .hero-body
            .container
                .columns.is-centered
                    .column.is-5-tablet.is-4-desktop.is-3-widescreen
                        form.has-text-centered.box(action='/accounts/login', method="post")
                            .field
                                label.has-text-left.label(for='') Email
                                .control
                                    input.input(type='email' placeholder='e.g. bobsmith@gmail.com' required='' name='login')
                            .field
                                label.has-text-left.label(for='') Password
                                .control
                                    input.input(type='password' placeholder='*******' required='' name="password")
                            .field
                                label.checkbox(for='')
                                    input(type='checkbox')
                                    |    #{__('login.remember_me')}
                            .field
                                button.button.is-success(type='submit', onclick="App.Account.Login.submit()")
                                    |  #{__('login.login')}
                                // errors
                            .has-text-danger.has-text-centered#error
                            // javascript expression using `v-bind`
                        .has-text-centered
                            a.has-text-black(href="/accounts/register") #{__('login.register')}
                            br
                            a.has-text-black(href="/accounts/forgot-password") #{__('login.forgetPassword')}
