form(v-on:submit.prevent='onSubmit')
    .row
        .col-md-6.col-sm-12
            fg-input(type='text' :label="$t('register.firstName')" :placeholder="$t('register.firstName')" v-model='firstName')
        .col-md-6.col-sm-12
            fg-input(type='text' :label="$t('register.lastName')" :placeholder="$t('register.lastName')" v-model='lastName')
    .row
        .col-md-6
            fg-input(type='email' :label="$t('register.email')" :placeholder="$t('register.email')" v-model='email')
        .col-md-6
            fg-input(type='text' :label="$t('register.businessName')" :placeholder="$t('register.businessName')" v-model='businessName')
    .row
        .col-md-6.col-sm-12
            fg-input(type='password' :label="$t('register.password')" :placeholder="$t('register.password')" v-model='password')
        .col-md-6.col-sm-12
            fg-input(type='password' :label="$t('register.rePassword')" :placeholder="$t('register.password')" v-model='re_password')
    .row
        .col-md-12
            fg-input(type='text' :label="$t('register.address')" :placeholder="$t('register.address')" v-model='address')
    .row
        .col-md-4.col-sm-12
            fg-input(type='text' :label="$t('register.country')" :placeholder="$t('register.country')" v-model='country')
        .col-md-4.col-sm-12
            fg-input(type='text' :label="$t('register.city')" :placeholder="$t('register.city')" v-model='city')
        .col-md-4.col-sm-12
            fg-input(type='text' :label="$t('register.zipCode')" :placeholder="$t('register.zipCode')" v-model='zipCode')
    .row
        .col-md-12.col-sm-12
            input(type='checkbox' v-model='tos')
            router-link(v-bind:to="'/tos'") {{ $t(&quot;register.tos&quot;) }}
        br
        br
    .clearfix
    .row.separator.d-flex.justify-content-center
        button(type='submit' v-bind:class="'btn btn-warning  ' + loading")
            | {{ $t(&quot;register.createAccount&quot;) }}
        router-link(v-bind:to="'/login'") {{ $t(&quot;register.login&quot;) }}
