//- page-a.pug
extends ../layouts/base

block content
    style.
        .background {
            background-image: url('https://images.unsplash.com/photo-1531913764164-f85c52e6e654?ixlib=rb-1.2.1&auto=format&fit=crop&w=1866&q=80');
        }
    section.hero.is-fullheight.background
        .hero-body
            .container
                .columns.is-centered
                    .column.is-5-tablet.is-5-desktop.is-4-widescreen
                        form.has-text-centered.box(action='/accounts/reset-password', method="post")
                            h3.title.is-6  #{__('resetPassword.title')}
                            input(type='hidden' value='#{token}' name='token')
                            .field
                                label.has-text-left.label(for='') #{__('resetPassword.password')}
                                .control
                                    input.input(type='password' placeholder=__("common.password") required='' name='password')
                            .field
                                label.has-text-left.label(for='') #{__('resetPassword.confirmPassword')}
                                .control
                                    input.input(type='password' placeholder=__("common.passwordConfirmation") required='' name='confirmPassword')
                            .field
                                button.button.is-success(type='submit', onclick="App.Account.ResetPassword.submit()")
                                    |  #{__('resetPassword.submit')}
                                // errors
                            .has-text-danger.has-text-centered#error
                            // javascript expression using `v-bind`
                        .has-text-centered
                            a.has-text-black(href="/accounts/login") #{__('login.register')}
